.pio/
.platformio
.venv
.snyk-cache/
.snyk-home/
.vscode/
.build-tests/
.omx/
logger/firmware/src/idf_component.yml
__pycache__/
*.pyc
shared/libraries/AppSecrets.h

.verification-venv/

dist/
published/
